.receitas_display {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100vw;
    /* overflow: scroll; */
}

.receita_container {
    background-color: #eaeaa5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
    width: min-content;
}

.receita_container_title {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}

.receita_container_img {
    width: 250px;
    height: 150px;
}